@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-Medium.ttf );
}

@font-face {
  font-family: Rubik-Regular;
  src: url(./fonts/Rubik-Regular.ttf );
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular-slnt=0.ttf );
}

@font-face {
  font-family: Inter-Medium;
  src: url(./fonts/Inter-Medium-slnt=0.ttf );
}

.body {
  /* Canvas */
  position: absolute;
  width: 940px;
  height: 1329.85px;
  left: 250px;
  top: 172px;

  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.block-wrapper {
  /* Group 233 */
  position: absolute;
  width: 480px;
  height: 162px;
  left: 44px;
  top: 255px;
}

.header {
  /* Group 232 */
  position: absolute;
  width: 450px;
  height: 36px;
  left: 16px;
  /* left: 75px; */
  /* top: 255px; */

  z-index: 1;
}

.header-title {
  /* EXPERIENCE */
  position: absolute;
  /* width: 173px; */
  height: 33px;
  left: 16px;
  /* left: 75px; */
  /* top: 255px; */

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  /* Enhancv Headings */
  color: #2D3639;

  text-transform: uppercase;
}

.gray-background {
  background: rgba(0, 0, 0, 0.2);
}

.white-backgroud {
  background: #FFFFFF;
}

.no-focus:focus {
  outline: none;
}

.header-rect {
  /* Rectangle 239 */
  position: absolute;
  width: 450px;
  height: 3px;
  left: 16px;
  top: 33px;
  /* left: 75px; */
  /* top: 288px; */

  /* Enhancv Headings */
  background: #2D3639;
}

.content-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.content {
  /* Frame 234 */
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 15px 0px 15px;
  margin-bottom: 3px;

  position: relative;
  width: 448px;
  height: 109px;
  top: 36px;
  left: 1px;
  top: 37px;
  left: 17px;
  /* left: 59px; */
  /* top: 291px; */

  /* background: #FFFFFF; */
  border-radius: 8px;
}

.content-inner {
  /* Frame 231 */
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 450px;
  height: 96px;
  left: 15px;
  top: 15px;

  opacity: 0.5;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px;
}

.content-title {
  /* Title */
  position: static;
  /* width: 45px; */
  height: 26px;
  left: 0px;
  top: 0px;

  font-family: Rubik-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */

  /* Enhancv Headings */
  color: #2D3639;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  /* margin: 4px 0px 4px 0px; */
}

.content-meta {
  /* Group 187 */
  position: static;
  width: 196px;
  height: 42px;
  left: 0px;
  top: 30px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
  margin: 3px 0px 4px 0px;
}

.content-meta-inner {
  /* Frame 231 */
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 196px;
  height: 42px;
  /* left: 0px;
  top: 30px; */
}

.content-meta-title {
  /* Company Name */
  position: static;
  /* width: 121px; */
  height: 22px;
  left: 0px;
  top: 0px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  /* Enhancv Context Info */
  color: #3F9CDC;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 0px;
}

.location-period-wrapper {
  /* Frame 231 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 196px;
  height: 20px;
  left: 0px;
  top: 22px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;
}

.period-wrapper {
  /* Editor/Resume/Components/Stamps/Half */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 87px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
}

.period-span {
  /* Date period */
  position: static;
  width: 67px;
  height: 20px;
  left: 20px;
  top: 0px;

  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Enhancv Paragraphs */
  color: #384347;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 6px 0px 0px;
}

.period-vector-wrapper {
  /* Icons/Filled/Calendar */
  position: static;
  width: 14px;
  height: 12px;
  left: 0px;
  top: 3px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 6px 0px 0px;
}

.period-vector-inner-wrapper {
  /* Group */
  position: absolute;
  /* left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%; */
}

.period-vector {
  /* Vector */
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  padding-left: 1px;

  /* Enhancv Context Info */
  /* background: #3F9CDC; */
}

.location-wrapper {
  /* Editor/Resume/Components/Stamps/Half */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 99px;
  height: 20px;
  left: 97px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
}

.location-name {
  /* New York, NY */
  position: static;
  /* width: 79px; */
  height: 20px;
  left: 20px;
  top: 0px;

  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Enhancv Paragraphs */
  color: #384347;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 6px 0px 0px;
}

.location-vector-wrapper {
  /* Icons/Line/Location */
  position: static;
  width: 14px;
  height: 14px;
  left: 0px;
  top: 3px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 6px 0px 0px;
}

.location-vector-inner-wrapper {
  /* Group */
  position: absolute;
  left: 31.3%;
  right: 23.75%;
  top: 42%;
  bottom: 0%;
  /* left: 23.75%;
  right: 23.75%;
  top: 15%;
  bottom: 15%; */
}

.location-pin-vector {
  /* Vector */
  position: absolute;
  left: 42.84%;
  right: 42.84%;
  top: 34.31%;
  bottom: 51.21%;

  /* Enhancv Context Info */
  /* border: 2px solid #3F9CDC; */
}

.location-circle-vector {
  /* Vector */
  position: absolute;
  left: 44.7%;
  right: 23.75%;
  top: 41%;
  bottom: 15%;
  /* left: 23.75%;
  right: 23.75%;
  top: 15%;
  bottom: 15%; */

  /* Enhancv Context Info */
  /* border: 2px solid #3F9CDC; */
}

.content-description-wrapper {
  /* Frame 188 */
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 450px;
  height: 20px;
  left: 0px;
  top: 76px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: center;
  flex-grow: 0;
  margin: 0px 4px;
}

.content-description-title {
  /* Company Description */
  position: static;
  width: 450px;
  height: 20px;
  left: 0px;
  top: 0px;

  font-family: Inter-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */


  /* Enhancv Paragraphs */
  color: #384347;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  flex-grow: 0;
  /* margin: 0px 4px; */
}

.popup-btn-wrapper {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 163px;
  height: 38px;
  left: 158px;
  top: -20px;

  background: #E0E0E0;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 100;
}

.delete-btn-wrapper {
  /* Group 11 */
  position: static;
  width: 40px;
  height: 38px;
  left: 123px;
  top: 0px;


  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: center;
  flex-grow: 0;
  margin: 1px 0px;
}

.delete-btn-wrapper:hover {
  cursor: pointer
}

.delete-btn-rect {
  /* Rectangle 2 */
  position: absolute;
  width: 40px;
  height: 38px;
  left: 123px;
  top: 0px;

  background: #FFFFFF;
  /* border-radius: 0px; */
  border-radius: 0px 18px 18px 0px;
}

.delete-btn-icon {
  /* Icons/Line/Trash */
  position: absolute;
  left: 82.21%;
  right: 6.75%;
  top: 26.32%;
  bottom: 26.32%;
}

.add-btn-wrapper {
  /* Frame 6 */
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 0px 7px;

  position: static;
  width: 122px;
  height: 28px;
  left: 0px;
  top: 0px;

  background: #56BD94;
  border-radius: 30px 0px 0px 30px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  /* align-self: center; */
  flex-grow: 0;
  /* margin: 1px 0px; */
}

.add-btn-wrapper:hover {
  cursor: pointer
}

.add-btn-inner-wrapper {
  /* Frame 217 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 102px;
  height: 18px;
  left: 10px;
  top: 10px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px;
}

.add-btn-text {
  /* New entry */
  position: static;
  width: 74px;
  height: 18px;
  left: 28px;
  top: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #FFFFFF;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 8px 0px;
}

.add-btn-icon-wrapper {
  /* Frame 217 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 0px 1px;

  position: static;
  width: 20px;
  height: 18px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 8px 0px;
}

.add-btn-icon {
  /* Icons/Line/Add */
  position: absolute;
  left: 7%;
  right: 5%;
  top: 0%;
  bottom: 0%;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}